@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#barra-de-cima {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../imagens/fundo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex;
    width: 90vw;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container li {
    list-style-type: none;
}

#container img {
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 1em;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

#container img:hover {
    width: 60px;
    height: 60px;
    border: 2px solid #f1eeee;
}

#container li {
    margin: 1em;
}
#container li a {
    text-align: center;
    display: block;
    color: #e7e6e6;
    padding: 10px;
    text-decoration: none;
    border: 3px solid #0707c2;
    border-radius: 20px;
    width: 30vh;
    cursor: pointer;
    transition: .5s;
}

#container li a:hover {
    border-radius: 20px;
    background-color: #0707c2;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #container li a {
        width: 50vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #container img {
        display: block;
        margin-top: 1em;
        margin-right: 1em;
    }

    #container li a {
        margin-top: 1em;
        width: 20vw;
    }

}

@media screen and (min-width: 1200px) {
    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #container img {
        display: block;
        margin-right: 1em;
        margin-top: 1em;
    }

    #container li a {
        margin-top: 1em;
        width: 20vw;
    }
}